<div class="col-xs-12">
  <!-- HelloSign Embedded.js library -->
  <script src="//s3.amazonaws.com/cdn.hellofax.com/js/embedded.js" type="text/javascript"></script>
  <!-- Open the embedded signer iFrame -->
  <script type="text/javascript">
    // <![CDATA[
      HelloSign.init("c760a784850d35a9a363926810ebb0f2");
      HelloSign.open({
        url: '<%= @sign_url %>',
        allowCancel: true,
        messageListener: function(eventData) {
          alert("HelloSign event received");
        }
      });
    // ]]>
  </script>
</div>
