<br />
<br />
<div class="col-xs-10 col-xs-offset-1">
<div class="jumbotron text-center">
  <h2>Please fill out your awaiting forms</h2>
  <br />
  <br />
  <%= link_to 'Get Started', new_signature_path, class: 'btn btn-info btn-lg' %>
</div>

<div class="col-xs-10 col-xs-offset-1">
  <%= @signature_request_list %>
</div>
